body {
	margin: 0;
	padding: 0;
}
.header {
	font-family: 'Raleway';
	// max-width: 1400px;
	margin: 0;
	background-image: url(	https://static.wbstatic.net/marketing/shapkafon2/shapka_line_ny_2022.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;// @media (max-width:1200px ) {
	// }
}
.header_container {
	width: 100%;
	// max-width: 1400px;
	padding: 0 10px;
	@media (max-width:1200px ) {
		max-width: 1180px;
	}
}
.header_navigation {
	display: flex;
	.header_logo {
		width: 240px;
		height: 64px;
		margin: 15px 30px 15px ;
		@media (max-width:1200px ) {
			width: 200px;
			margin: 15px 20px;
		}
	}
	.header_navigation-search {
		position: relative;
		font-size: 18px;
		text-align: left;
		width: 860px;
		height: 50px;
		border-radius: 20px;
		border: none;
		margin: 20px 50px 20px 20px;
		padding-left: 55px;
		@media (max-width:1200px ) {
			width: 700px;
			margin: 20px 30px 10px 30px;
			padding-left: 42px;
		}
	}
	.words-search {
		position: absolute;
		top: 35px;
		left: 345px;
		width: 24px;
		height: 24px;
		cursor: pointer;
		@media (max-width:1200px ) {
			left: 293px;
		}
	}
	.images-search {
		position: absolute;
		top: 35px;
		left: 1205px;
		width: 24px;
		height: 24px;
		cursor: pointer; 
		@media (max-width:1200px ) {
			left: 989px;
		}
	}
	
	.basket {
		cursor: pointer;
		padding: 22px 0;
		border: none;
		background-color: transparent; 
		@media (max-width:1200px ) {
			padding: 20px;
		}
	.basket_img {
		width: 40px;
		height: 27px;
		display: block;
		margin-left: 7px;
		margin-bottom: 5px;
		@media (max-width:1200px ) {
			width: 30px;
			height: 26px;
			margin-left: 14px;
		}
	}
	.basket_el {
		font-size: 16px;
		color: rgba(255,255,255,.6);
	}
	}	
}
// .header_navigation-search::placeholder {
// 	color: red;
// }
.basket:hover {
	.basket_el {
		color: rgba(255,255,255,256);
		transition: color .3s ease 0s;
	}
}