// .none {
//   display: none !important;
// }
.basket {

  &__title{
    @include ffr700;
  }

  &__content {
    display:flex;
  }

  &__content-row {
    max-width: 900px;
    width: 100%;
    // height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 25px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }

  &__topString{
    display: flex;
    justify-content: space-between;
  }

  &__btn-deleteAll {
    height: 45px;
    // max-height: 40px;
    max-width: 150px;
    width: 100%;
    background-color: $purple;
    border: 2px solid $purple;
    border-radius: 1ch;
    color: #fff;
    @include ffr600;
    cursor: pointer;

    &:hover{
      background-color: $purple;
    }

    &:active {
      position: relative;
      top: 1px;
    }

  }

  // &__list{
  
  // }

  &__item{
    margin-top: 20px;
    display: flex;
  justify-content: space-between;
  }

  &__item-img{
    display: flex;
		margin: auto;
    object-fit: cover;
    max-width: 80px;
    width: 100%;
		max-height: 100px;
    height: 100%;
  }

  &__item-img-name{
    display: flex;
  }

	&__item-name {
    font-size: 21px;
    @include ffr600;
		}

	&__with-discount {
    @include ffr700;
    font-size: 30px;
		}

	&__without-discount {
    text-decoration: line-through;
    color: $grey;
    font-size: 17px;
    @include ffr400;
		}

  // &__item-price-btnDelete{
  
  // }

  &__btn-deleteItem {
    height: 100%;
    max-height: 30px;
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    border: 2px solid $purple;
    border-radius: 1ch;
    color: $purple;
    margin-top: 10px;

    &:hover{
      background-color: #eec1e6;
    }

    &:active {
      position: relative;
      top: 1px;
    }

  }

  // ORDER 

  &__content-order {
    padding: 25px;
    max-width: 400px;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  &__order-top{
    display: flex;
    justify-content: space-between;
  }

  &__order-title{
    @include ffr700;
    font-size: 24px;
  }

  &__order-allPrice{
    @include ffr700;
    font-size: 25px;
  }

  &__order-adress-title{
    font-size: 16px;
    @include ffr500it
  }

  &__order-adress{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__order-adress-enter{
    border: none;
    border-bottom: 3px $purple dashed;
    width: 230px;
    font-size: 14px;
    @include ffr500it;

    &:focus-visible {
      outline: $purple auto 1px;
      }
  }

  &__btn-toOrder-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  
  &__btn-toOrder{
    margin-top: 45px;
    height: 50px;
    width: 100%;

    &:hover{
      background-color: $purple;
    }

    &:active {
      position: relative;
      top: 1px;
    }

  }

}
