*, ::before, ::after{
	box-sizing:border-box;
}

body{
	margin: 0;
	padding: 0;
}

.carousel__container{
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	height: 400px;
	width: 100%;
}

.carousel__image{
	width: 100%;
	height: 100%;
}

.carousel__track-container{
	background: rgba(157, 13, 133, 0.45);
	height: 100%;
	position: relative;
	margin-top: 20px;
	overflow: hidden;
}

.carousel__track{
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 250ms  ease-in;
}

.carousel__slide{
	position: absolute;
	top: 0;
	bottom:0;
	width: 100%;
}

// .slide > img {
// 	display: block;
// 	object-fit: cover;
// 	object-position: center;
// }

.carousel__button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;  //
	border: 0;
	z-index: 1;
	cursor: pointer;
	img{
		width: 40px;
		background: rgba(236, 10, 217, 0.3);
		border-radius: 50%;
}
}

.carousel__button img:hover{
	background:rgb(203 17 171);
	border-radius:50%;
	transition-duration: .4s;
 }

.carousel__button--left{
	left: 10px;
}

.carousel__button--right{
	right: 10px;
}

.carousel__nav{
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.carousel__indicator{
	border: 0;
	border-radius:50%;
	width: 10px;
	height: 10px;
	background: rgb(203 17 171 / 30%);
	margin: 0 5px;
}

.carousel__indicator.active{
	background: rgb(203 17 171);
}