.price {
	display: flex;
	align-items: center;

	&__with-discount{
		@include ffr700;
		font-size: 16px;
	}
	
	&__without-discount {
		text-decoration: line-through;
		color: $grey;
		font-size: 14px;
		@include ffr400;
	}
}